<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dicta, quaerat animi eligendi commodi eius?
                Tempora, sapiente cupiditate. Non hic sunt corporis ullam eos ad amet reiciendis totam molestiae
                consequuntur?
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email.com.br </li>
                <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>(00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>

</footer>